.default-class {
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
}

.default-class > .email-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-form__input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email-form__label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}

.default-class > .password-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password-form__input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.password-form__label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}
